---
BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
BitFieldColonSpacing: After
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 120
ContinuationIndentWidth: 4
IndentAccessModifiers: false
IndentWidth: 4
InsertBraces: true
SortIncludes: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 0
